@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;500;700&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

.project{
    background-color: #111111;
    color: white;
    min-height: 77.8vh;
    font-family: 'Poppins';
    text-align: center;
    
}

.projcards{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    
   

}

@media (max-width) {
    .projcards{
        
    }
    
}