@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;500;700&family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

.projcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    width: 60%;
    border-radius: 10px;
    height: 40vh;
    background-color: #111111;
}

.description{
    width: 50%;
   
}

.projimg{
    width: 50%;
    /* border: 1px solid black; */
    
}

.projimg img{
    max-width: 100%;
    height: auto;
}

.linkbutton{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    flex-direction: flex-end;
}

.git{
    padding: 0.5rem;
    background-color: #111111;
    border: 2px solid green;
    color: white;
    font-weight: 600;
    cursor: pointer;

}

.git:hover{
    background-color: green;
    color: white;
}

.website{
    padding: 0.5rem;
    background-color: #111111;
    border: 2px solid #FF6C22;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.website:hover{
    background-color: #FF6C22;
    color: white;
}

@media (max-width: 700px){
    .projcard{
        width: 90%;
        flex-wrap: wrap;
        height: auto;
    }
}