@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.top0{
  top: 0;
}

.left0{
  left: 0;
}